body {
    margin: 0;
    background-color: #F4F4F4;
    font-family: 'arial', sans-serif;
    
}
header {
    background-color: #0088ff;
    width: 100%;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
}
header .div-conteudo{
    width: 90%;
}
header img{
    border-radius: 0 0 5px 5px;
}
header hr{
    z-index: 10;
    width: 90%;
    height: 2px;
    background-image: linear-gradient(to right, yellow , orange, red, rgb(255, 0, 106), purple, blue, rgb(0, 225, 255), blue, rgb(0, 255, 153), green);
}
.container{
    width: 95%;
    padding: 20px;
}
.nav{
    float: left;
}
.img-carrossel{
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.botao-right{
    justify-content: right;
}
.botao-left{
    justify-content: left;
}